<div class="navbar navbar-brand bg-dark border-bottom w-100 shadow d-flex">
  <%= link_to "Yelp Clone", restaurants_path, class: 'text-light text-decoration-none' %>
  <%= link_to "Add Restaurant", new_restaurant_path, class: 'btn btn-outline-light' %>
</div>
